body {
  background-color: #3d5269;
}

.main_block {
	background-color: white;
  position: fixed;
	display: grid;
	grid-template-columns: 200px 200px 200px;

	border-radius: 6px;
	
	margin:  200px 300px;
}

.hosting_block {
	margin: 0 auto;
	padding: 5px;

	width: 190px;
	height: 200px;

	text-align: center;
}

.nametag {
	color: rgb(223, 119, 0);
	font-weight: 700
}

.more_details {
	background-color: rgb(223, 119, 0);
	color: white;

	border-radius: 3px;

	margin: 0 auto;
	width: 55%;
}

.blockline {
	background: rgba(255, 255, 255, 0.1);
  text-align: center;
  position: relative;
}

.blockline::after{
	content: "";
  position: absolute;
  top: 0;
  right: -12px;
  height: 80%;
  width: 1px;

	margin: 20px 0px;
  background: rgba(184, 183, 183, 0.993)
}