.backcall {
  border-radius: 0 10px 10px 0;
  width: 300px;
  background: #333;
  color: #fff; 
  position: fixed; 
  min-height: 100px; 
  top: 100px; left: -300px;
  border-right: 20px solid #fc0; 
  transition: left 1s;
}

.backcall__img {
  float: left;
  margin: 10px;
  height: 100px;
  width: 100px;
}

.backcall::after {
  content: 'Обратная связь'; 
  color: #000; 
  position: absolute;
  right: -60px; bottom: 50px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.backcall:hover {
  left: 0;
}
.backcall__text {
  top: 10px;
}
