.pie_container {
  background: #b0ff90;
  width: 200px; 
  height: 200px;
  text-align: center;
  font: 40px/190px Times, serif;
  border: 30px solid #95CD8B;
  border-right: 30px solid #9af148;
  border-radius: 100%;
}