.battery__energy-red {
    background-color: red;
    width: 25%;
    height: 100%;
}

.battery__energy-yellow {
  background-color: yellow;
  width: 50%;
  height: 100%;
}

.battery__energy-green {
  background-color: green;
  width: 100%;
  height: 100%;
}

.battery__accumulator {
  border: 8px solid black;
  position: relative;
  width: 20%;
  height: 100px;
}

.battery {
  height: 33%;
  width: 100%;
  margin: 50px;
}

.battery__nose {
  left: 20%;
  width: 0px;
  height: 20px;
  border: 8px solid black;
  position: relative;
  transform: translate(10px, -76px);
}
